<template>
    <div id="home">
        <h1>Weather App</h1>
        <Search />
        <Weather v-for="woeid in default_locations" :key="woeid" v-bind:woeid=woeid v-bind:today_only=true />
    </div>
</template>


<script>
import Weather from "../components/Weather.vue";
import Search from "../components/Search.vue";

export default {
  name: "home",
  data() {
    return {
      default_locations: [2344116, 638242, 44418, 565346, 560743, 9807]
    };
  },
  components: {
    Weather,
    Search
  }
};
</script>
