<template>

   <div id="location">
        <Weather v-bind:woeid=woeid v-bind:today_only=false />
        <router-link to="/"><button class="btn draw-border">Home</button></router-link>
   </div>

   
</template>

<script>
import Weather from "../components/Weather";
export default {
  name: "location",
  data() {
    return {
      woeid: parseInt(this.$route.params.woeid)
    };
  },
  components: {
    Weather
  }
};
</script>

<style>
</style>
