<template>
    <div id="search">

        <Search v-bind:old_keyword=keyword />

        <span v-if="data">
            <Weather v-for="location in data" :key="location.woeid" v-bind:woeid=location.woeid v-bind:today_only=true />
        </span>

        <span v-else>
            <span v-if="looking_results">
                <div class="loading"></div>
            </span>
            <span v-else>
                <div class="panel">
                    <h2>No results were found. Try changing the keyword!</h2>
                </div>
            </span>
            
        </span>

        <router-link to="/"><button class="btn draw-border">Home</button></router-link>
    </div>
</template>

<script>
import Weather from "../components/Weather";
import Search from "../components/Search";
import { WeatherApiService } from "../services/WeatherApiService";

export default {
  name: "search_results",
  components: {
    Weather,
    Search
  },
  data() {
    return {
      looking_results: true,
      keyword: "",
      data: null,
      error: null
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    fetchData() {
      this.keyword = this.$route.params.keyword;

      WeatherApiService.SearchLocations(this.keyword)
        .then(response => {
          if (response.data.length > 0) this.data = response.data;

          this.looking_results = false;
        })
        .catch(function(error) {
          this.looking_results = false;
          console.log(error);
          this.error = error.toString();
        });
    }
  }
};
</script>
