<template>
    <div id="search_widget">
        <form @submit.prevent="Search">
            <input class="searchbar transparent" type="text" v-model="keyword" name="keyword" placeholder="ENTER CITY">
            <button class="button transparent" type="submit">GO</button>
        </form>
    </div>
</template>

<script>
export default {
  name: "search",
  props: {
    old_keyword: String
  },
  data() {
    return {
      keyword: ""
    };
  },
  methods: {
    Search() {
      console.log(this.keyword);
      this.$router.push({ path: "/search/" + this.keyword });
    }
  },
  created() {
    if (this.old_keyword) this.keyword = this.old_keyword;
  }
};
</script>
