<template>
    
    <div id="wather">
        <span v-if="loading">
            <div class="loading"></div>
        </span>

        <span v-else>
            <div class='panel'  v-if="today_only">
                <h2 class='city' id='city'><router-link :to="'/weather/'+data.woeid">{{data.title}}</router-link></h2>
                <div class='weather' id='weather'>
                    <div class='group secondary'>
                        <h3 id='dt'>{{data.consolidated_weather[0].weather_state_name}}</h3>
                        <h3 id='description'></h3>
                    </div>
                    <div class='group secondary'>
                        <h3 id='wind'>Max: {{Math.round(data.consolidated_weather[0].max_temp)}} &deg;C</h3>
                        <h3 id='humidity'>Min: {{Math.round(data.consolidated_weather[0].min_temp)}} &deg;C</h3>
                    </div>
                    <div class='temperature' id='temperature'>
                        <h1 class='temp' id='temp'>
                            <i id='condition'><img v-bind:src="'https://www.metaweather.com/static/img/weather/png/64/' + data.consolidated_weather[0].weather_state_abbr + '.png'"></i>
                            <span id='num'>{{Math.round(data.consolidated_weather[0].the_temp)}}</span>
                            <span class='fahrenheit active' id='fahrenheit'>&deg;C</span>
                        </h1>
                    </div>
                    <div class='forecast' id='forecast'></div>
                </div>
            </div>

            <div class="panel" v-else>
                <h1 class="head">{{data.title}} Weather</h1>
                
                <span v-for="weather in data.consolidated_weather" v-bind:key=weather.id>
                    <h2 class='city' id='city'>{{weather.applicable_date | dateToWeekday}}</h2>
                    <div class='weather' id='weather'>
                        <div class='group secondary'>
                            <h3 id='dt'>{{data.consolidated_weather[0].weather_state_name}}</h3>
                            <h3 id='description'></h3>
                        </div>
                        <div class='group secondary'>
                            <h3 id='wind'>Max: {{Math.round(data.consolidated_weather[0].max_temp)}} &deg;C</h3>
                            <h3 id='humidity'>Min: {{Math.round(data.consolidated_weather[0].min_temp)}} &deg;C</h3>
                        </div>
                        <div class='temperature' id='temperature'>
                            <h1 class='temp' id='temp'>
                                <i id='condition'><img v-bind:src="'https://www.metaweather.com/static/img/weather/png/64/' + data.consolidated_weather[0].weather_state_abbr + '.png'"></i>
                                <span id='num'>{{Math.round(data.consolidated_weather[0].the_temp)}}</span>
                                <span class='fahrenheit active' id='fahrenheit'>&deg;C</span>
                            </h1>
                        </div>
                        <div class='forecast' id='forecast'></div>
                    </div>
                </span>
            </div>
        </span>

    </div>
</template>

<script>
import { WeatherApiService } from "../services/WeatherApiService";

export default {
  name: "Weather",
  props: {
    woeid: Number,
    today_only: Boolean
  },
  data() {
    return {
      loading: false,
      data: {},
      error: null
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.error = null;
      this.data = {};
      this.loading = true;

      WeatherApiService.GetByWoeid(this.woeid)
        .then(response => {
          this.data = response.data;
          this.loading = false;
        })
        .catch(function(error) {
          // handle error
          this.loading = false;
          console.log(error);
          this.error = error.toString();
        });
    }
  },
  filters: {
    dateToWeekday: function(date) {
      var d = new Date(date);

      var weekday = [];
      weekday[0] = "Sunday";
      weekday[1] = "Monday";
      weekday[2] = "Tuesday";
      weekday[3] = "Wednesday";
      weekday[4] = "Thursday";
      weekday[5] = "Friday";
      weekday[6] = "Saturday";
      return weekday[d.getDay()];
    }
  }
};
</script>

<style scoped>
</style>
