@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css');

body{
    background: #3F51B5;
    color: #FFF;
}

h1,
h2,
h3,
h4 {
	color: white;
	font-family: 'Roboto';
	font-weight: 100;
	line-height: 1.1;
	letter-spacing: 0.025em;
	margin: 0; padding: 0;
}

h1.head{
    margin-bottom: 20px;
}

a {
	color: white;
	opacity: 0.54;
	text-decoration: none;
}
a:hover,
.active {opacity: 1;}

.wrapper {
	width: 480px;
	margin: 0 auto;
}

.searchbar,
.button {
	height: 45px;
	margin: 1em 0 4em;
	padding: 0;
	font: 400 1rem 'Roboto';
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: white;
	border: none;
}
.searchbar {
	float: left;
	width: 380px;
	border-bottom: solid thin white;
	color: #E8E8E8;
	color: rgba(255, 255, 255, 0.7);
}

.searchbar::-webkit-input-placeholder {color: white; opacity: 0.35;}
.searchbar::-moz-placeholder {color: white; opacity: 0.35;}
.searchbar:-ms-input-placeholder {color: white; opacity: 0.35;}
.searchbar:-moz-placeholder {color: white; opacity: 0.35;}

.button:focus,
.searchbar:focus {outline: none; color: white;}
.searchbar:focus::-webkit-input-placeholder {color: white; opacity: 0.7;}
.searchbar:focus::-moz-placeholder {color: white; opacity: 0.7;}
.searchbar:focus:-ms-input-placeholder {color: white; opacity: 0.7;}
.searchbar:focus:-moz-placeholder {color: white; opacity: 0.7;}

.button {
	float: right;
	width: 100px;
}
.panel {
	width: 100%;
	display: inline-block;
}
.weather {
	width: 100%;
	margin-top: 20px;
	display: inline-block;
}
.city {
	text-align: left;
	border-bottom: solid thin white;
	text-transform: uppercase;
	color: #E8E8E8;
	color: rgba(255, 255, 255, 0.7);
}
.group {
	width: 165px;
	margin-bottom: 20px;
	text-align: right;
	float: right;
	clear: both;
}
.temp {
	font-size: 4.5em;
	font-weight: 300;
	line-height: 0.75;
}
.celsius,
.fahrenheit,
.divider {
	font-size: 1.75rem;
	vertical-align: super;
}
.divider {
	margin: 0 0.05em;
}
.forecast {
	display: table;
	text-transform: uppercase;
	width: 100%;
}
.block {
	display: table-cell;
	padding: 1.5em 0 0 0;
	text-align: center;
}
.high {
	font-weight: 300;
	margin: 0.25em 0;
}

.secondary {opacity: 0.7;}
.transparent {background: transparent;}
.hot {background: #FF5722;}
.warm {background: #FF6F00;}
.cool {background: #2196F3;}
.cold {background: #3F51B5;}
.color404 {background: #161616;}
.button-hot {background: #BF360C;}
.button-warm {background: #B34E00;}
.button-cool {background: #0D47A1;}
.button-cold {background: #1A237E;}
.button404 {background: black;}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.loading:after {
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  display: block;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -25px;
  content: '';
  border-radius: 50%;
  animation : loading 1.5s infinite linear;
}

@keyframes loading {
  0%   {box-shadow: 60px 0 0 0 #ddd, 20px 0 0 0 #ddd, -20px 0 0 0 #ddd;}
  5%   {box-shadow: 60px 0 0 0 #ddd, 20px 0 0 0 #ddd, -20px 0 0 2px #ddd;}
  15%   {box-shadow: 60px 0 0 0 #ddd, 20px 0 0 0 #ddd, -20px 0 0 8px #ddd;}
  20%   {box-shadow: 60px 0 0 0 #ddd, 20px 0 0 2px #ddd, -20px 0 0 10px #ddd;}
  25%   {box-shadow: 60px 0 0 0 #ddd, 20px 0 0 8px #ddd, -20px 0 0 5px #ddd;}
  30%   {box-shadow: 60px 0 0 2px #ddd, 20px 0 0 10px #ddd, -20px 0 0 2px #ddd;}
  35%   {box-shadow: 60px 0 0 8px #ddd, 20px 0 0 5px #ddd, -20px 0 0 0 #ddd;}
  40%   {box-shadow: 60px 0 0 10px #ddd, 20px 0 0 2px #ddd, -20px 0 0 0 #ddd;}
  45%   {box-shadow: 60px 0 0 5px #ddd, 20px 0 0 0 #ddd, -20px 0 0 0 #ddd;}
  50%   {box-shadow: 60px 0 0 2px #ddd, 20px 0 0 0 #ddd, -20px 0 0 0 #ddd;}
  65%   {box-shadow: 60px 0 0 0 #ddd, 20px 0 0 0 #ddd, -20px 0 0 0 #ddd;}
  100%  {box-shadow: 60px 0 0 0 #ddd, 20px 0 0 0 #ddd, -20px 0 0 0 #ddd;}
}

.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    margin-top: 40px;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: #ffe593;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }
  
  